@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Radwave Demo';
  src: url('./Components/assets/Radwave-Demo.woff2') format('woff2'),
       url('./Components/assets/Radwave-Demo.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Radwave Demo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}

p, li, a, span, div { /* and any other tags where you want to use Lato */
  font-family: 'Lato', sans-serif;
}